@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Black.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


.hello{
    color: firebrick;
    background: url('./icon.jpg');
    font-family: 'Roboto';
}


